{% extends 'base.template.html' %}

{%block content %}

<h5 class="mt-4 mb-4">Hello World!</h5>
<div class="text-justify">
Welcome to Code Buddy, an open-collaborative online form for anyone to share their tips, experiences, or questions related to coding and software development.
<P>
<p>
Software development has been a very hot topic in recent years, especially with the rise of technology startups, providing new and innovative ways to disrupt traditional industries, and improve the lives of everyday consumers like you and I. Learning how to code is a great skill for anyone to pick up, whether as a hobby, or professional interest. 
<p>
So where can you start, and how do you start? Fret not, Code Buddy is here to help =>
<p>
On this website, you may browse articles contributed by the community, and read various topic on software development. You may contribute articles or ask questions too - with the yellow button at the top right hand corner of every page! (Think of this as a Reddit / Quora thread, for budding software developers). Any visitor may comment and provide their tips on how you may start your journey, or improve your coding skills if you have already started dabbling into this subject. 
<p>
The articles are 100% contributed by the community, so please feel free to contribute, and invite friends over too.
<p>
All the best, have a blast, and happy coding!
<p>
Regards
<br>
Jiun Yang
<br>
Creator of Code Buddy
</div>

<div class="text-right"><a class="btn btn-warning my-0" href="{{ url_for('show_threads') }}">Start Browsing Articles</a></div>

{%endblock%}