{% extends 'base.template.html' %}

{%block content %}

<h4>Ask a Question / Write an Article</h4>

<form method="POST">
    <div>
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="thread_title" placeholder="Enter title here"/>
    </div>
    <div>
        <div class="form-group">Article
    <textarea name="thread_article" class="form-control" rows="10" placeholder="Enter article / post here"></textarea>
    </div>
    <!-- <div>
        <label class="form-label">Category</label>
        <input type="text" class="form-control" name="category"/>
    </div> -->
    <div>
        <label class="form-label">Author's Name</label>
        <input type="text" class="form-control" name="thread_author" placeholder="Enter your name here"/>
    </div>
    <div>
        <label class="form-label">Author's Email <small>*email will be used for identity verificaiton if you want to edit or delete your post</small></label>
        <input type="text" class="form-control" name="thread_author_email" placeholder="Enter email here."/>
    </div>
    </p>
    <input type="submit" class="btn btn-primary"/>
</form>
{%endblock%}