{% extends 'base.template.html' %}

{%block content %}

<h4>Ask a Question / Write an Article</h4>

<form method="POST">
    <div>
        <label class="form-label">Thread Name</label>
        <input type="text" class="form-control" name="threadname"/>
    </div>
    <div>
        <!-- <label class="form-label">Text Body</label>
        <input type="text" class="form-control" name="age"/> -->

        <div class="form-group">Text Body
    <textarea name="age" id="article" class="form-control" rows="10" placeholder="Enter your text here"></textarea>
    </div>
    <div>
        <label class="form-label">Category</label>
        <input type="text" class="form-control" name="category"/>
    </div>
    <div>
        <label class="form-label">Author Name</label>
        <input type="text" class="form-control" name="authorname"/>
    </div>
    <div>
        <label class="form-label">Author Contact</label>
        <input type="text" class="form-control" name="authorcontact"/>
    </div>
    </p>
    <input type="submit" class="btn btn-primary"/>
</form>
{%endblock%}