{% extends 'base.template.html' %}

{%block content %}

<h5 class="mt-4 mb-4">Ask a Question / Write an Article</h5>

<form method="POST">
    <div>
        <label class="form-label mb-2">Title</label>
        <input type="text" class="form-control mb-2" name="thread_title" placeholder="Enter title here"/>
    </div>
    <div>
        <div class="form-group mb-2">Article</div>
    <textarea name="thread_article" class="form-control mb-2" rows="12" placeholder="Enter article / post here"></textarea>
    <div>
        <label class="form-label mb-2">Name</label>
        <input type="text" class="form-control mb-2" name="thread_author" placeholder="Enter your name here"/>
    </div>
    <div>
        <label class="form-label mb-2">Email <i>(used as identifier to edit / delete posts)</i></label>
        <input type="text" class="form-control mb-2" name="thread_author_email" placeholder="Enter email here"/>
    </div>
    <div class ="text-right pt-2"><input type="submit" class="btn btn-warning"></div>
</form>
{%endblock%}