{% extends 'base.template.html' %}

{%block content %}

<h5 class="mt-4 mb-4">Edit Your Article</h5>

<form method="POST">
    <div>
        <label class="form-label mb-2">Email <i>(required to edit article)</i></label>
        <input type="text" class="form-control mb-2" name="thread_author_email" placeholder="Please enter the email used to create this article"/>
    </div>
    <div>
        <label class="form-label mb-2">Title</label>
        <input type="text" class="form-control mb-2" name="thread_title" value="{{threads.thread_title}}"/>
    </div>
    <div>
        <label class="form-group mb-2">Article</label>
        <textarea class="form-control mb-2" name="thread_article" rows="12">{{threads.thread_article}}</textarea>
    </div>
    
    <div class ="text-right pt-2">
    <a href="{{url_for('show_threads') }}/{{threads._id}}" class="btn btn-outline-dark mr-2">Back to Article</a>
    <input type="submit" class="btn btn-warning">
    </div>
</form>

{%endblock%}