{% extends 'base.template.html' %}

{%block content %}

<h4>Edit Your Article</h4>

<form method="POST">
    <div>
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="threadname" value="{{threads.threadname}}"/>
    </div>
    <div>
        <label class="form-label">Article</label>
        <textarea class="form-control" name="article" rows="10">{{threads.article}}</textarea>
    </div>
    <div>
        <label class="form-label">Category</label>
        <input type="text" class="form-control" name="category" value="{{threads.category}}"/>
    </div>
    <div>
        <label class="form-label">Author Name</label>
        <input type="text" class="form-control" name="authorname" value="{{threads.authorname}}"/>
    </div>
    <div>
        <label class="form-label">Author Contact</label>
        <input type="text" class="form-control" name="authorcontact" value="{{threads.authorcontact}}"/>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>
{%endblock%}