<h4>Post Comments</h4>
<form method="POST">

<!-- <input type='hidden' value='{{thread_id}}' name='thread_id'/> -->
    
    <div>
        <label class="form-group">Comment</label>
        <textarea type="text" rows="5" class="form-control" name="comment" placeholder="Enter the comment here"></textarea>
    </div>
    <div>
        <label class="form-label">Commenter's Name</label>
        <input type="text" class="form-control" name="commenter_name"/>
    </div>
    <div>
        <label class="form-label">Commenter's Email</label>
        <input type="text" class="form-control" name="commenter_email"/>
    </div>
    <input type="submit" class="btn btn-primary"/>
</form>