<h5 class="pt-5 pb-1 pl-3">Post a Comment</h5>

<form action='/threads/comments' form method="POST">

<!-- to map each comments to the thread_id -->
    <input type='hidden' value='{{threads._id}}' name='thread_id'/>
        <div class="card border-dark">
            <div class="card-body pb-2">
                <div class="card-title">Comment</div>
                <h6 class="card-subtitle">
                <textarea type="text" rows="4" class="form-control" name="comment" placeholder="Enter your comments here"></textarea>
                </h6>
                <div class="card-text">
                    <div class="container">
                        <div class="row">
                            <div class="col pt-2 pb-2 pl-0 pr-2">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" name="commenter_name" placeholder="Enter your name here"/>
                            </div>
                        <div class="col pt-2 pb-2 pl-2 pr-0">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" name="commenter_email" placeholder="Used for edit/delete comments"/>
                        </div>
                    </div>
                </div>    
                <div class="card-footer bg-white border-0 text-right p-0 mt-2 mb-2">
                    <input type="submit" class="btn btn-warning"/>
                </div>
            </div>
        </div>
    </div>
</form>