{% extends 'base.template.html' %}

{%block content %}

<h5 class="mt-4 mb-4">Edit Your Comment</h5>
<form form method="POST">
        <div class="card">
            <div class="card-body pb-2">       
                <label class="form-label">Email <i>(required to edit comment)</i></label>
                <input type="text" class="form-control" name="commenter_email" placeholder="Please enter the email used to create this comment"/>
                <label class="form-label">Comment</label>
                <textarea type="text" rows="4" class="form-control" name="comment">{{comments.comment}}</textarea>
                </h6>
                <div class="card-footer bg-white border-0 text-right p-0 mt-2 mb-2">
                    <input type="submit" class="btn btn-warning"/>
                </div>
            </div>
        </div>
    </div>
</form>

{%endblock%}